.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5; 
    padding: 6px 12px; 
    border-radius: 6px;
    margin-bottom: 15px;
  }
  
 
  .leftTools {
    display: flex;
    gap: 8px;
  }
  

  .toolBtn {
    background: transparent;
    border: none;
    font-size: 16px; 
    cursor: pointer;
  }
  
  
 
  .searchBar {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 900px;
    table-layout: fixed; 
  }
  

  .table th,
  .table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .table th {
    background: #f8f8f8;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
  }
  
  
  .table tr:hover {
    background: #f9f9f9;
    transition: 0.2s;
  }
  

  .checkbox {
    width: 50px; 
  }
  
  .date {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
  }
  
  .dateIcon {
    font-size: 14px;
    color: #555;
  }
  
 
  .status {
    font-weight: bold;
    text-align: center;
  }
  
  .status.approved {
    color: #28a745; 
  }
  
  .status.pending {
    color: #ff9800; 
  }
  
  .status.rejected {
    color: #dc3545; 
  }
  

.pagination {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
  }
  
  .pagination button {
    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .pagination .active {
    font-weight: bold;
    color: rgb(25, 25, 29);
  }