.campaign-chart {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    // height: 100%;
    
    .chart-legend {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      
      .legend-item {
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        
        .legend-dot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 0.5rem;
          
          &.black {
            background-color: #000000;
          }
          
          &.teal {
            background-color: #14B8A6;
          }
          
          &.green {
            background-color: #84CC16;
          }
          
          &.gray {
            background-color: #737373;
          }
        }
        
        .legend-label {
          flex: 1;
          color: #4B5563;
        }
        
        .legend-value {
          font-weight: 600;
          color: #1F2937;
        }
      }
    }
    
    @media (max-width: 768px) {
      .chart-legend {
        margin-top: 1.5rem;
      }
    }
  }